In [1]:
import arviz as az
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pymc3 as pm
from sklearn.linear_model import LogisticRegression

WARN: Could not locate executable g77
WARN: Could not locate executable f77
WARN: Could not locate executable ifort
WARN: Could not locate executable ifl
WARN: Could not locate executable f90
WARN: Could not locate executable DF
WARN: Could not locate executable efl
WARN: Could not locate executable gfortran
WARN: Could not locate executable f95
WARN: Could not locate executable g95
WARN: Could not locate executable efort
WARN: Could not locate executable efc
WARN: Could not locate executable flang
WARN: don't know how to compile Fortran code on platform 'nt'

WARNING (theano.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
WARNING (theano.configdefaults): g++ not detected ! Theano will be unable to execute optimized C-implementations (for both CPU and GPU) and will default to Python implementations. Performance will be severely degraded. To remove this warning, set Theano flags cxx to an empty string.
WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [2]:
df = pd.read_csv('flats.csv')
df

      Unnamed: 0  price_doc  full_sq  life_sq  num_room  kitch_sq
0           8056    2750000       11     11.0       1.0      12.0
1           8154    7100000       45     27.0       2.0       6.0
2           8287   11700000       77     50.0       3.0       8.0
3           8387   10400000       56     29.0       2.0      10.0
4           8391    6200000       31     21.0       1.0       5.0
...          ...        ...      ...      ...       ...       ...
6037       30462   10544070       47     30.0       1.0      10.0
6038       30463   12000000       56     29.0       2.0      11.0
6039       30467   25000000       86     59.0       4.0      10.0
6040       30469   13500000       64     32.0       2.0      11.0
6041       30470    5600000       43     28.0       2.0       6.0

[6042 rows x 6 columns]