In [1]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect('train2k_v2_formation_energy_w_forces.db')

In [4]:
query = "SELECT * FROM train2k_v2_formation_energy_w_forces.db"
df = pd.read_sql_query(query, conn)

DatabaseError: Execution failed on sql 'SELECT * FROM train2k_v2_formation_energy_w_forces.db': no such table: train2k_v2_formation_energy_w_forces.db