In [1]:
import pandas as pd
import numpy as np  
from statsmodels.tsa.seasonal import seasonal_decompose   
from matplotlib import pyplot                                    
                
df = pd.read_csv('E:/My date/Skillfactory/Course/IDE/ML-инженер/Data/train.csv', low_memory=False) # считываем датасет
df.head() # смотрим на первые несколько строчек

ParserError: Error tokenizing data. C error: out of memory

In [1]:
SELECT client
FROM ( SELECT DISTINCT client
       FROM Dep
     UNION ALL
       SELECT client_id
       FROM Contact ) total
GROUP BY 1
HAVING COUNT(*) = 1

SyntaxError: invalid syntax (2085922726.py, line 1)

In [2]:
a = [1,3]
b = a
b.append(4)
print(a)

[1, 3, 4]

In [4]:
a = 2
b = 6
a,b = b,a

In [6]:
import numpy as np
from datetime import datetime
import pandas as pd


# Чтение данных из файла transactions.csv
data = pd.read_csv('transactions.csv', header=1)
data

,Txid,Merchant,Status,Error Description,Currency,Card type,BIN country,Bank name
0,289681260,Merchant_1,approved,NaN,NOK,Visa,Norway,BNBANK
1,289681195,Merchant_2,approved,NaN,EUR,Visa,Germany,DZ BANK AG
2,289681249,Merchant_2,approved,NaN,AZN,Visa,Azerbaijan,UNIBANK COMMERCIAL BANK
3,289681183,Merchant_1,approved,NaN,EUR,MasterCard,Greece,EUROBANK ERGASIAS S.A.
4,289681308,Merchant_1,approved,NaN,NOK,Visa,Norway,SPAREBANK 1 GRUPPEN
...,...,...,...,...,...,...,...,...
301659,292861457,Merchant_2,approved,NaN,EUR,Visa,Germany,ING-DIBA AG
301660,292861368,Merchant_2,approved,NaN,TRY,Visa,Turkey,YAPI VE KREDI BANKASI A.S.
301661,292861563,Merchant_1,approved,NaN,EUR,Visa,Belgium,TELLER A.S.
301662,292861460,Merchant_3,approved,NaN,AUD,MasterCard,Australia,COMMONWEALTH BANK OF AUSTRALIA
301663,292861579,Merchant_3,approved,NaN,AUD,Visa,Australia,COMMONWEALTH BANK OF AUSTRALIA

In [11]:
conversion_ratios = data['Currency'].value_counts(normalize=True) * 100
conversion_ratios

AZN    44.038773
AUD    22.566072
EUR    17.093672
NZD     8.340368
USD     2.355958
KZT     2.108671
NOK     1.796789
JPY     0.983201
TRY     0.255212
INR     0.231038
CAD     0.172783
CLP     0.055877
VND     0.001585
Name: Currency, dtype: float64

In [28]:
import pandas as pd

# Чтение файла и получение данных
transactions_df = pd.read_csv('transactions.csv', skiprows=[1])

# 1. Конверсия по валютам в %
total_transactions = transactions_df.shape[0]
approved_transactions = transactions_df[transactions_df['Status'].str.lower() == 'approved']
currency_conversion = approved_transactions['Currency'].value_counts(normalize=True) * 100

# 2. Топ ошибок в процентном соотношении от всех ошибок
declined_transactions = transactions_df[transactions_df['Status'].str.lower() == 'declined']
error_counts = declined_transactions['Error Description'].value_counts(normalize=True) * 100
top_errors_percentages = error_counts.sort_values(ascending=False)

# 3. Топ 5 ошибок по причинам отказов
top_5_errors = top_errors_percentages.head(5)

print("Конверсия по валютам в %:")
print(currency_conversion)

Конверсия по валютам в %:
AZN    51.442936
EUR    18.394831
AUD    14.733245
NZD     7.526297
KZT     2.361264
USD     2.186929
NOK     1.992867
JPY     0.858884
TRY     0.286295
INR     0.097031
CAD     0.097031
CLP     0.022392
Name: Currency, dtype: float64

In [27]:
print("\nТоп ошибок в процентном соотношении от всех ошибок:")
print(top_errors_percentages[:10])

Топ ошибок в процентном соотношении от всех ошибок:
Insufficient funds/over credit limit Insufficient funds/over credit limit                                                                                                                                                                                                                                                40.322419
No transaction registered on processor&#039 s side No transaction registered on processor&#039 s side                                                                                                                                                                                                                    17.423309
Do not honor Do not honor                                                                                                                                                                                                                                                                                                 5.740599
Decline for CVV2 failure Decline for CVV2 failure                                                                                                                                                                                                                                                                         5.552410
Fraud/Security (Mastercard use only) Fraud/Security (Mastercard use only)                                                                                                                                                                                                                                                 5.189355
3Dv2 error: Not authenticated/account not verified  transaction denied. 3Dv2 error: Not authenticated/account not verified  transaction denied.                                                                                                                                                                           4.288379
3Dv2 error: Authentication/account verification rejected  issuer is rejecting authentication/verification and request that authorization not be attempted. 3Dv2 error: Authentication/account verification rejected  issuer is rejecting authentication/verification and request that authorization not be attempted.     2.984379
Exceeds withdrawal amount limit Exceeds withdrawal amount limit/Exceeds approval amount limit                                                                                                                                                                                                                             2.901109
[E0300] Error mpi V2 - failed internal [E0300] Error mpi V2 - failed internal                                                                                                                                                                                                                                             2.817840
Invalid transaction Invalid transaction                                                                                                                                                                                                                                                                                   2.741232
Name: Error Description, dtype: float64

In [26]:
print("\nТоп 5 ошибок по причинам отказов:")
print(top_5_errors)

Топ 5 ошибок по причинам отказов:
Insufficient funds/over credit limit Insufficient funds/over credit limit                                40.322419
No transaction registered on processor&#039 s side No transaction registered on processor&#039 s side    17.423309
Do not honor Do not honor                                                                                 5.740599
Decline for CVV2 failure Decline for CVV2 failure                                                         5.552410
Fraud/Security (Mastercard use only) Fraud/Security (Mastercard use only)                                 5.189355
Name: Error Description, dtype: float64